[Unit]
Description=gpio-companion WiFi reconnect every 30s

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s
Persistent=true
Unit=gpio-companion-wifi.service

[Install]
WantedBy=timers.target
