[Unit]
Description=gpio-companion cleanup on boot and every hour

[Timer]
OnBootSec=1min
OnUnitActiveSec=1h
Persistent=true
Unit=gpio-companion-cleanup.service

[Install]
WantedBy=timers.target
