@import "@shpaw415/mui-lite/style.css";

html,
body,
#root {
	height: 100%;
	margin: 0;
}

body {
	font-family: Roboto, system-ui, sans-serif;
	background: rgb(var(--bg-main));
	color: rgb(var(--text-main));
}
